faiss-cpu
ipykernel
langchain
langsmith
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain_openai
langgraph
pydantic
python-dotenv
requests
langchain-tavily
langchain-mcp-adapters
mcp
pypdf
pymupdf
chromadb
sentence_transformers
scikit-learn