faiss-cpu
ipykernel
langchain
langsmith
langchain-community
langchain-google-genai
langchain-groq
langchain_openai
langgraph
pydantic
python-dotenv
requests
langchain-tavily
langchain-mcp-adapters
mcp